:root{
    --blue:#00C2FF;
  }
  .container{
    width: 100%;
    overflow: hidden;
    /* border: 5px solid red; */
  }
  .bg-img{
      position: relative;
      background: url("../assets/img/laptop-image.jpg");
      background-attachment: fixed;
      height: 680px;
     width: 100%;
      background-position: center;
      background-size: cover;
      /* mix-blend-mode: normal; */
  }
  
  header {
      /* border: 1px solid red; */
      background: transparent;
      z-index: 100;
  }
  
/* front text */
.front-text{
    position: absolute;
    bottom: 150px;
    right: 100px;
    text-align: right;
    font-size: 1.5em;
    line-height: 1.3;
    color: white;
  }
  .front-text h1{
    font-weight: 300;
  }
  .front-text h1:nth-child(1){
  color:var(--blue) ;
  }
  